* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
:root {
  --bg: rgb(243, 243, 243);
  --white: white;
  --contactBg: lightgray;
  --black: black;
  --btnClr: rgb(255, 186, 58);
}
.nightMood {
  --bg: rgb(60, 60, 60);
  --white: rgb(30, 26, 26);
  --contactBg: rgb(27, 27, 27);
  --black: rgb(255, 255, 255);
  --btnClr: rgb(227, 148, 0);
}
body {
  background: var(--bg);
}
.myTask_app {
  margin: 30px auto;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: var(--white);
  color: var(--black);
  width: 50%;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.2);
}
.myTask_app h1 {
  font-family: cursive;
  padding: 0px;
  margin: 0;
}
.add_task_form {
  display: flex;
  padding: 20px;
  justify-content: center;
}
#addtaskinput {
  width: 100%;
  padding: 8px;
}
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Buttons */
button {
  padding: 10px 16px;
  background-color: var(--btnClr);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.transparent_btn {
  background-color: transparent;
  padding: 5px;
}

.completed span {
  text-decoration: line-through;
  font-weight: 500;
}

.checkBox {
  width: 20px;
  height: 20px;
}

.checkbox-input {
  accent-color: orange;
  margin-right: 10px;
  margin-top: 10px;
  width: 20px;
  height: 20px;
}
.dflex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactUs {
  width: 400px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  text-align: center;
  color: var(--black);
  background-color: var(--contactBg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  padding: 20px;
}

.bi {
  text-decoration: none;
  color: var(--black);
}
div a i {
  font-size: 30px;
  padding: 10px;
}

#resetBtn {
  width: 100%;
}

li span {
  color: var(--black);
}
svg {
  color: var(--black);
}

#toggleDarkMode{
  display: flex;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media only screen and (max-width: 1000px) {
  .myTask_app {
    width: 70%;
  }
}
@media only screen and (max-width: 700px) {
  .myTask_app {
    width: 95%;
  }
}